<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.costmgn.costmgnsrv.mapper.ReceiptMapper">
  <resultMap id="BaseResultMap" type="com.costmgn.costmgnsrv.entity.Receipt">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="budget_id" jdbcType="INTEGER" property="budgetId" />
    <association
            column="work_id"
            select="com.costmgn.costmgnsrv.mapper.WorkMapper.selectByPrimaryKey"
            property="work"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, money, `type`, budget_id, work_id
  </sql>
  <select id="selectByExample" parameterType="com.costmgn.costmgnsrv.entity.ReceiptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from receipt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from receipt
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.costmgn.costmgnsrv.entity.Receipt" useGeneratedKeys="true">
    insert into receipt (money, `type`, budget_id, 
      work_id)
    values (#{money,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR}, #{budgetId,jdbcType=INTEGER},
            #{work.id,jdbcType=INTEGER})
  </insert>
  <select id="countByExample" parameterType="com.costmgn.costmgnsrv.entity.ReceiptExample" resultType="java.lang.Long">
    select count(*) from receipt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByIds" parameterType="List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from receipt
    where id in #{ids}
  </select>
  <select id="selectByBudgetId" parameterType="int" resultMap="BaseResultMap">
    select receipt.*
    from receipt,
         budget
    where receipt.id = budget_id
  </select>
  <update id="updateByExample" parameterType="map">
    update receipt
    set id = #{record.id,jdbcType=INTEGER},
      money = #{record.money,jdbcType=DECIMAL},
      `type` = #{record.type,jdbcType=VARCHAR},
      budget_id = #{record.budgetId,jdbcType=INTEGER},
    work_id = #{record.work.id,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.costmgn.costmgnsrv.entity.Receipt">
    update receipt
    set money     = #{money,jdbcType=DECIMAL},
        `type`    = #{type,jdbcType=VARCHAR},
        budget_id = #{budgetId,jdbcType=INTEGER},
        work_id   = #{work.id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>